h1 {
    color: #3d353c;
}
nav {
    background-color: #3d353c;
    overflow: hidden;
    text-align: center;
}

nav a {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.left-nav {
    text-align: left;
    float: left;
    width: 200px;
    background-color: #e5ebeb;
    min-height: 100vh;
    padding: 20px;
    margin-right: 25px;
}

.subheading {
    color: #3d353c;
    font-weight: bold; 
}

.vertical-tabs a {
    text-align: left;
    display: block;
    color: #a69ba4;
    padding: 10px 0;
    text-decoration: none;
    background-color: #e5ebeb;
}

footer {
    text-align: center;
    color: #3d353c;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
}

footer nav {
    display: inline-block;
    background-color: #3d353c;
    width: 100%;
}

footer nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

footer nav a:hover {
    background-color: #ddd;
    color: #3d353c85;
}

.footer p {
    margin: 10px 10px;
    color: #3d353c;
}

.bold {
    font-weight: bold;
}

.contact-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

.contact-info img {
    width: 200px;
    height: 200px;
    margin-right: 50px;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.research-interests {
    margin-top: 30px;
    margin-left: 290px;
}

.research-interests ul {
    padding-left: 15px;
    margin: 0px 0;
}
h3 {
    color: #a69ba4;
}
body ul li {
    color: #a69ba4; 
}
